# Configuration file

general {
    # If this is true, it will conect to drone.io to get a changelog [default: true]
    B:connectExternally=false

    # Play a sound after minecraft has finished starting up [default: true]
    B:playSound=true

    # The type of progress bar to display. Use either 0, 1 or 2. (0 is the experiance bar, 1 is the boss health bar, and 2 is the horse jump bar)
    I:progressType=1

    # What sound to play when loading is complete. Default is the dispenser open (random.levelup) [default: random.levelup]
    S:sound=random.levelup

    # Whether or not to use minecraft's display to show the progress. This looks better, but there is a possibilty of not being compatible, so if you do have nay strange crash reports or compatability issues, try setting this to false [default: true]
    B:useMinecraft=true

    # The yPosition of the bar, added to the centre (so, a value of 0 means its right in the middle of the screen, and negative numbers are higher up the screen). Default is 40
    I:yPosBar=50

    # The yPosition of the text, added to the centre (so, a value of 0 means its right in the middle of the screen, and negative numbers are higher up the screen). Default is 30
    I:yPosText=30
}


